.stars {
  background: url(../../../assets/img/space/overlay_stars.svg);
  background-attachment: fixed;
}

.glowing_stars .star {
  z-index: -2;
  position: fixed;
  border-radius: 100%;
  background-color: #fff;
  width: 8px;
  height: 8px;
  opacity: .3;
  will-change: opacity;
}

.glowing_stars .star:nth-child(1) {
  top: 80%;
  left: 25%;
  animation: glow-star 2s infinite ease-in-out alternate 1s;
}

.glowing_stars .star:nth-child(2) {
  top: 60%;
  left: 40%;
  animation: glow-star 2s infinite ease-in-out alternate 3s;
}

.glowing_stars .star:nth-child(3) {
  top: 50%;
  left: 25%;
  animation: glow-star 2s infinite ease-in-out alternate 5s;
}

.glowing_stars .star:nth-child(4) {
  top: 75%;
  left: 80%;
  animation: glow-star 2s infinite ease-in-out alternate 7s;
}

.glowing_stars .star:nth-child(5) {
  top: 90%;
  left: 50%;
  animation: glow-star 2s infinite ease-in-out alternate 9s;
}

@-moz-keyframes glow-star {
  40% { -moz-opacity: .3 }

  100%,
  90% {
    -moz-opacity: 1;
    -moz-transform: scale(1.2)
  }
}

@-webkit-keyframes glow-star {
  40% { -webkit-opacity: .3 }
  100%, 90% {
    -webkit-opacity: 1;
    -webkit-transform: scale(1.2)
  }
}

@keyframes glow-star {
  40% {
    -webkit-opacity: .3;
    opacity: .3
  }

  100%, 90% {
    -webkit-opacity: 1;
    opacity: 1;
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
    border-radius: 999999px
  }
}

@keyframes rocket-movement-right {
  0% { opacity: 0; }
  1% { opacity: 1; }
  100% { transform: translate(100vw, -60vw); }
}
@-moz-keyframes rocket-movement-right {
  0% { opacity: 0; }
  1% { opacity: 1; }
  100% { -moz-transform: translate(100vw, -60vw); }
}
@-webkit-keyframes rocket-movement-right {
  0% { opacity: 0; }
  1% { opacity: 1; }
  100% { -webkit-transform: translate(100vw, -60vw); }
}

@keyframes rocket-movement-left {
  0% { opacity: 0; transform: rotate(180deg); }
  1% { opacity: 1; }
  100% { transform: translate(-100vw, 60vw) rotate(180deg); }
}
@-moz-keyframes rocket-movement-left {
  0% { opacity: 0; transform: rotate(180deg); }
  1% { opacity: 1; }
  100% { -moz-transform: translate(-100vw, 60vw) rotate(180deg); }
}
@-webkit-keyframes rocket-movement-left {
  0% { opacity: 0; transform: rotate(180deg); }
  1% { opacity: 1; }
  100% { -webkit-transform: translate(-100vw, 60vw) rotate(180deg); }
}

@keyframes ufo-movement {
  0% { opacity: 0; }
  1% { opacity: 1; }
  100% { transform: translate(300px, 2050px) rotate(360deg); }
}
@-moz-keyframes ufo-movement {
  0% { opacity: 0; }
  1% { opacity: 1; }
  100% { -moz-transform: translate(300px, 2050px) rotate(360deg); }
}
@-webkit-keyframes ufo-movement {
  0% { opacity: 0; }
  1% { opacity: 1; }
  100% { -webkit-transform: translate(300px, 2050px) rotate(360deg); }
}

.rocket-1 {
  z-index: -1;
  position: absolute;
  top: percentage(random(80) / 100);
  left: 0px;

  pointer-events: none;
  animation: rocket-movement-right 90s linear infinite both running;
  animation-delay: random(500) + s;
}
.rocket-2 {
  z-index: -1;
  position: absolute;
  top: percentage(random(80) / 100);
  right: 0;

  pointer-events: none;
  animation: rocket-movement-left 135s linear infinite both running;
  animation-delay: random(500) + s;
}
.rocket-3 {
  z-index: -1;
  position: absolute;
  top: percentage(random(80) / 100);
  left: 0px;

  pointer-events: none;
  animation: rocket-movement-right 120s linear infinite both running;
  animation-delay: random(500) + s;
}
.rocket-4 {
  z-index: -1;
  position: absolute;
  top: percentage(random(80) / 100);
  top: 65vh;
  left: 0px;

  pointer-events: none;
  animation: rocket-movement-right 135s linear infinite both running;
}
.rocket-5 {
  z-index: -1;
  position: absolute;
  top: percentage(random(80) / 100);
  right: 0px;

  pointer-events: none;
  animation: rocket-movement-left 150s linear infinite both running;
  animation-delay: random(500) + s;
}
.rocket-6 {
  z-index: -1;
  position: absolute;
  top: percentage(random(80) / 100);
  right: 0px;

  pointer-events: none;
  animation: rocket-movement-left 100s linear infinite both running;
  animation-delay: random(500) + s;
}

.meteor {
  max-width: 32px;
  width: auto;
  height: auto;
}
.meteor-1 {
  z-index: -1;
  position: absolute;
  top: percentage(random(80) / 100);
  right: 0px;

  pointer-events: none;
  animation: rocket-movement-left 50s linear infinite both running; 
  animation-delay: random(180) + s;
}
.meteor-2 {
  z-index: -1;
  position: absolute;
  top: percentage(random(80) / 100);
  right: 0px;

  pointer-events: none;
  animation: rocket-movement-left 50s linear infinite both running;
  animation-delay: random(180) + s;
}
.meteor-3 {
  z-index: -1;
  position: absolute;
  top: percentage(random(80) / 100);
  left: 0px;

  pointer-events: none;
  animation: rocket-movement-right 20s linear infinite both running;
  animation-delay: random(180) + s;
}

.ufo {
  max-width: 48px;
  width: auto;
  height: auto;
  
  z-index: -1;
  position: absolute;
  bottom: -100px;
  left: 0px;

  pointer-events: none;
  animation: ufo-movement 30s linear infinite both running;
  animation-delay: random(300) + s;
}