<footer>
    <waves></waves>
    <div class="content d-flex flex-column justify-content-end pr-2">
        <span class="cursor-pointer"
            class="float-right row">
            <span class="float-left col-6">&copy; 2020 DList</span>
            <div class="col-6">
                <span class="float-right">
                    <a href="https://dbots.co/bots/744931405665927260">View on DBots</a>
                    <span class="text-muted px-1">|</span>
                    <a [href]="statusURL">Status</a>
                    <span class="text-muted px-1">|</span>
                    <span class="cursor-pointer" routerLink="/docs/changelog">{{ version }}</span>
                </span>
            </div>
        </span>
    </div>
</footer>