// https://stackoverflow.com/questions/41440998/how-can-i-use-custom-theme-palettes-in-angular
// to generate palettes

@import "~@angular/material/theming";

@include mat-core();

:root {
    --heading: #ffffff;
    --font: #B4B5BB;

    --success: green;
    --danger: darkred;
    --muted: grey;

    --primary: #67B3C6;
    --secondary: #728ADA;
    --tertiary: #3C4569;
    
    --background-primary: #36393F;
    --background-secondary: #25262a;
    --background-tertiary: #202225;

    --gold: #D4AF37;
    --silver: silver;
    --bronze: #CD7F32;
}
:root[theme=CHOCOLATE] {
    --heading: #FFFFFF;
    --font: #FFFFFF;

    --primary: #482F5D;
    --secondary: #45377C;
    --tertiary: #351F20;

    --background-primary: #372224;
    --background-secondary: #2c1518;
    --background-tertiary: #251113;
}
:root[theme=DISCORD] {
    --font: #99AAB5;

    --primary: #7289DA;
    --secondary: #276C8A;
    --tertiary: #36E2CA;
    
    --background-primary: #36393F;
    --background-secondary: #2F3136;
    --background-tertiary: #202225;
}
:root[theme=IONIC] {
    --heading: #FFFFFF;
    --font: #F4F2F3;
    --plus: green;

    --danger: darkred;
    --muted: grey;
    --interactive-muted: #4f545c;

    --primary: #46828D;
    --secondary: #276C8A;
    --tertiary: #36E2CA;

    --background-primary: #15244B;
    --background-secondary: #0a193a;
    --background-tertiary: #081536;
}
:root[theme=TWILIGHT] {
    --font: #E3E7EA;

    --primary: #757A89;
    --secondary: #78839B;
    --tertiary: #838B84;

    --background-primary: #171F2C;
    --background-secondary: #111720;
    --background-tertiary: #10151d;
}

$primary-palette: (
    50 : #edf6f8,
    100 : #d1e8ee,
    200 : #b3d9e3,
    300 : #95cad7,
    400 : #7ebecf,
    500 : #67b3c6,
    600 : #5facc0,
    700 : #54a3b9,
    800 : #4a9ab1,
    900 : #398ba4,
    A100 : #f1fcff,
    A200 : #beefff,
    A400 : #8be2ff,
    A700 : #72dcff,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #000000,
        800 : #000000,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$secondary-palette: (
    50 : #eef1fb,
    100 : #d5dcf4,
    200 : #b9c5ed,
    300 : #9cade5,
    400 : #879ce0,
    500 : #728ada,
    600 : #6a82d6,
    700 : #5f77d0,
    800 : #556dcb,
    900 : #425ac2,
    A100 : #ffffff,
    A200 : #e2e7ff,
    A400 : #afbdff,
    A700 : #96a8ff,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$primary: mat-palette($primary-palette);
$secondary: mat-palette($secondary-palette);
$warn: mat-palette($mat-yellow);

$theme: mat-dark-theme($primary, $secondary, $warn);

@include angular-material-theme($theme);

// css styles

.mat-success {
    background-color: var(--success);
    color: #fff;
}
.mat-danger {
    background-color: var(--danger);
    color: #fff;
}
.mat-warning {
    background-color: var(--warning);
    color: #fff;
}

// overrides

h1,h2,h3,h4,h5 {
    color: var(--heading) !important;
}

// colors

.color-secondary {
    color: var(--secondary) !important;
}

.color-muted {
    color: var(--muted) !important;
}

.color-warning {
    color: var(--warning) !important;
}

.color-gold {
    color: var(--gold) !important;
}

// backgrounds

.bg-primary {
    background-color: var(--primary);
    color: #fff;
}

.bg-secondary {
    background-color: var(--secondary);
    color: #fff;
}

.bg-secondary {
    background-color: var(--info);
    color: #fff;
}